/target/
/.classpath
/logs/
/.idea/
/*/target/
/k-dev.iml
/AppHistory
/ui
/.DS_Store
/k-dev-app/.DS_Store
/*.pine
/.flattened-pom.xml
/*/.flattened-pom.xml
/temp
/webapps/
/k-dev-app-with-ops/src/main/resources/ui
ui
res
.vscode
ui2